.dashboard-wrapper {
  width: 100%;
  max-width: 100%;
}

.dashboard-wrapper .row {
  margin-left: 0;
  margin-right: 0;
}

.table-wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.table-wrapper table {
  width: 100%;
  max-width: 100%;
  table-layout: auto; 
}
